<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='valid.js') }}" defer></script>
    <link rel="stylesheet" href="/static/logstyle.css">
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-container">
            <div class="logo">Stay Fit</div>
            <a href="{{ url_for('index') }}" class="back-to-home">Back to Home</a>
        </div>
    </div>

    <div class="container">
        <!-- Left Side Image Panel -->
        <div class="image-panel">
            <img src="/static/397361-yoga-wallpaper.jpg" alt="Welcome image">
        </div>

        <!-- Right Side Sign Up Form -->
        <div class="form-panel">
            <header><h1>Sign Up</h1></header>
            <form action="{{ url_for('main') }}" id="registrationForm" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required><br>
                <label for="confirmEmail">Confirm Email:</label>
                <input type="text" id="confirmEmail" name="confirmEmail" required><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required><br>
                <div id="figure">
                    <input type="submit" value="Sign Up">
                </div>
            </form>
            <div id="errorMessages" style="color:red;"></div>
            <div class="signup-link">
                <a href="login.html">Log In</a>
            </div>
        </div>
    </div>